.previous-guesses-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous-guesses-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #ffffff;
}

.previous-guesses {
  color: #555555;
  font-size: large;
  letter-spacing: 3px;
  text-align: center;
}

.previous-guesses span {
  margin-right: 6px;
}

.guessed {
  color: #ff4500;
}
